---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<a
			href="#"
			type="button"
			title="Download CV"
			class="focus:ring-offset-2 focus:ring-offset-slate-50 relative mb-6 inline-flex h-12 w-full overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-slate-400 md:hidden"
		>
			<span
				class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#D5F60C_0%,#0CF6A2_50%,#D5F60C_100%)]"
			></span>
			<span
				class="text-[hsl(var(--theme-accent-2) / 1)] inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-bgColor px-3 py-1 text-sm font-medium backdrop-blur-3xl"
			>
				Download CV
			</span>
		</a>
		<h1 class="title mb-6">hey, I'm Risqi 👋</h1>
		<p class="mb-4">
			Hi, I’m a theme for Astro, a simple starter that you can use to create your website or blog.
			If you want to know more about how you can customise me, add more posts, and make it your own,
			click on the GitHub icon link below and it will take you to my repo.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-expect-error - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Actvitity</h2>
		<dl class="space-y-4">
			<ul class="flex w-full flex-col">
				<li class="relative flex flex-col gap-2">
					<span
						class="absolute left-0 grid justify-center bg-transparent transition-opacity duration-200"
						style="top: 12px; width: 12px; opacity: 1; height: calc(100% - 12px);"
						><span class="h-full w-0.5 bg-stone-500"></span></span
					><div class="flex h-3 items-center gap-4">
						<span
							class="relative z-[2] w-max flex-shrink-0 overflow-hidden rounded-full bg-gray-900 p-1.5 text-white"
						></span><h6
							class="text-blue-gray-900 block font-sans text-base font-semibold leading-none tracking-normal antialiased"
						>
							Timeline Title Here.
						</h6>
					</div><div class="flex gap-4 pb-8">
						<span class="pointer-events-none invisible h-full flex-shrink-0" style="width: 12px;"
						></span><div>
							<p
								class="block font-sans text-sm font-normal leading-normal text-gray-600 antialiased"
							>
								The key to more success is to have a lot of pillows. Put it this way, it took me
								twenty five years to get these plants, twenty five years of blood sweat and tears,
								and I'm never giving up, I'm just getting started. I'm up to something. Fan luv.
							</p>
						</div>
					</div>
				</li><li class="relative flex flex-col gap-2">
					<span
						class="absolute left-0 grid justify-center bg-transparent transition-opacity duration-200"
						style="top: 12px; width: 12px; opacity: 1; height: calc(100% - 12px);"
						><span class="h-full w-0.5 bg-stone-500"></span></span
					><div class="flex h-3 items-center gap-4">
						<span
							class="relative z-[2] w-max flex-shrink-0 overflow-hidden rounded-full bg-gray-900 p-1.5 text-white"
						></span><h6
							class="text-blue-gray-900 block font-sans text-base font-semibold leading-none tracking-normal antialiased"
						>
							Timeline Title Here.
						</h6>
					</div><div class="flex gap-4 pb-8">
						<span class="pointer-events-none invisible h-full flex-shrink-0" style="width: 12px;"
						></span><div>
							<p
								class="block font-sans text-sm font-normal leading-normal text-gray-600 antialiased"
							>
								The key to more success is to have a lot of pillows. Put it this way, it took me
								twenty five years to get these plants, twenty five years of blood sweat and tears,
								and I'm never giving up, I'm just getting started. I'm up to something. Fan luv.
							</p>
						</div>
					</div>
				</li><li class="relative flex flex-col gap-2">
					<div class="flex h-3 items-center gap-4">
						<span
							class="relative z-[2] w-max flex-shrink-0 overflow-hidden rounded-full bg-gray-900 p-1.5 text-white"
						></span><h6
							class="text-blue-gray-900 block font-sans text-base font-semibold leading-none tracking-normal antialiased"
						>
							Timeline Title Here.
						</h6>
					</div><div class="flex gap-4">
						<span class="pointer-events-none invisible h-full flex-shrink-0" style="width: 12px;"
						></span><div>
							<p
								class="block font-sans text-sm font-normal leading-normal text-gray-600 antialiased"
							>
								The key to more success is to have a lot of pillows. Put it this way, it took me
								twenty five years to get these plants, twenty five years of blood sweat and tears,
								and I'm never giving up, I'm just getting started. I'm up to something. Fan luv.
							</p>
						</div>
					</div>
				</li>
			</ul>
		</dl>
	</section>
</PageLayout>
