---
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<!-- <a
			href="#"
			download="risqiromadhoni-cv.pdf"
			type="button"
			title="Download CV"
			class="focus:ring-offset-2 focus:ring-offset-slate-50 relative mb-6 inline-flex h-12 w-full overflow-hidden rounded-full p-[1px] focus:outline-none focus:ring-2 focus:ring-slate-400 md:hidden"
		>
			<span
				class="absolute inset-[-1000%] animate-[spin_2s_linear_infinite] bg-[conic-gradient(from_90deg_at_50%_50%,#D5F60C_0%,#0CF6A2_50%,#D5F60C_100%)]"
			></span>
			<span
				class="text-[hsl(var(--theme-accent-2) / 1)] inline-flex h-full w-full cursor-pointer items-center justify-center rounded-full bg-bgColor px-3 py-1 text-sm font-medium backdrop-blur-3xl"
			>
				Download CV
			</span>
		</a> -->
		<h1 class="title mb-6">hey, I'm Risqi <span class="wave">👋</span></h1>
		<p class="mb-4">
			As a Software Engineer with <span
				class="underline decoration-dashed hover:cursor-pointer hover:text-link">+7 years</span
			> of experience, I have a passion for building and maintaining scalable, performant, and reliable
			software systems. I'm a self-taught developer who loves to learn new things and share knowledge
			with others. Loving gardening in hydroponics 🪴 and aquaponics 🪷 when I'm not coding.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="title mb-4 text-xl">Posts</h2>
		<ul class="space-y-4">
			{
				allPostsByDate.map((p) => (
					<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">
						{/* @ts-expect-error - issue with -> @astrojs/check@0.9.3 */}
						<PostPreview post={p} />
					</li>
				))
			}
		</ul>
	</section>
</PageLayout>
